body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(198, 128, 255);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(183, 0, 255);
    padding: 10px 20px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar-brand {
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
}
.navbar-brand:hover {
    background-color: rgb(173, 76, 255);
    border-radius: 5px;
}

.navbar-links {
    display: flex;
}

.nav-link {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

.nav-link:hover {
    background-color: rgb(173, 76, 255);
    border-radius: 5px;
}

.news-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.news-item {
    width: calc(30% - 20px);
    margin: 10px;
    padding: 15px;
    border: 1px solid #f1b5f8;
    border-radius: 5px;
    background-color: #efc8f7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.news-item:hover {
    transform: translateY(-5px);
}

.news-item img {
    max-width: 100%;
    border-radius: 5px 5px 0 0;
}

.news-item h2 {
    margin: 10px 0;
    font-size: 18px;
}


.news-item .source-link {
    display: inline-block;
    padding: 8px 16px;
    background-color: #cc00ff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}


